.calculatorBoxBody {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  padding: 10px;
  max-width: 600px;
  border-radius: 10px;
}

.selectableColors {
  background-color: rgb(233, 233, 233);
  height: 50px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.selectableObject {
  cursor: pointer;
  user-select: none;
}

/* .selectableObject:hover {
  stroke: #12d7ff;
  stroke-width: 0.2;
  filter: drop-shadow(0px 0px 5px #12d7ff);
} */

.selectedObject {
  stroke: #12d7ff;
  stroke-width: 0.1;
  filter: drop-shadow(0px 0px 5px #12d7ff);
}
