body {
  background-color: #ecf4ff;
  font-family: "Roboto", sans-serif; /* Para Google Fonts */
}

.calculatorBoxBody {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  padding: 10px;
  max-width: 600px;
  border-radius: 10px;
}
